<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACKNOWLEDGEMENT_PLIST</key>
	<string>Pods-Movies-App [DEV-ST]-acknowledgements</string>
	<key>API_KEY_THEMOVIEDB</key>
	<string>$(API_KEY_THEMOVIEDB)</string>
	<key>BASE_URL_SERVER_TRACKING</key>
	<string>$(BASE_URL_SERVER_TRACKING)</string>
	<key>BASE_URL_THE_MOVIE_DB</key>
	<string>$(BASE_URL_THE_MOVIE_DB)</string>
	<key>BASE_URL_TMDB_IMAGE</key>
	<string>$(BASE_URL_TMDB_IMAGE)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.432389273417-9bjr4vv35ii0h12t0g0ukl436c5rvdrv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1377779869934543</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1377779869934543</string>
	<key>FacebookDisplayName</key>
	<string>Movies-App</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_Proxyman._tcp</string>
	</array>
	<key>SESSION_ID</key>
	<string>$(SESSION_ID)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-SemiBold.ttf</string>
	</array>
	<key>URL_EMBED_VIDEO_YOUTUBE</key>
	<string>$(URL_EMBED_VIDEO_YOUTUBE)</string>
</dict>
</plist>
